[Unit]
Description=Sample Test application with redis connectivity
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user

ExecStart=python3 app.py

[Install]
WantedBy=multi-user.target